<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../app/styles/bootstrap.css" rel="stylesheet">
    <link href="../../app/styles/style.css" rel="stylesheet">
    <link href="../../app/styles/table.css" rel="stylesheet">
    <script type="text/javascript" src="../../app/scritps/LIB/jquery-1.11.0.js "></script>
    <script type="text/javascript" src="../../app/scritps/LIB/bootstrap.js"></script>
</head>
<body>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<!-- TABLE -->
			<table class="table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Matricula</th>
						<th>Telefone</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Guilherme</td>
						<td>51210875</td>
						<td>3698-9658</td>
						<td class="buttons">
							<div class="button">
								<a href="javascript:void(0)" class="glyphicon glyphicon-align-justify"></a>
								<a href="javascript:void(0)" class="glyphicon glyphicon-remove"></a>
								<a href="javascript:void(0)" class="glyphicon glyphicon-trash"></a>	
							</div>
						</td>				
					</tr>
				</tbody>
			</table>
			<!-- END TABLE -->

			<!-- LIST -->
			<ul class="list">
				<li class="list-item">
					<span class="list-description">Nome</span>
					<span class="list-name">Guilherme</span>
				</li>
				<li class="list-item">
					<span class="list-description">Matricula</span>	
					<span class="list-name">51210875</span>
				</li>
				<li class="list-item">
					<span class="list-description">Telefone</span>	
					<span class="list-name">75KG</span>
				</li>
				<li>
					<div class="button">
						<a href="javascript:void(0)" class="glyphicon glyphicon-align-justify"></a>
						<a href="javascript:void(0)" class="glyphicon glyphicon-remove"></a>
						<a href="javascript:void(0)" class="glyphicon glyphicon-trash"></a>						
					</div>
				</li>
			</ul>
			
			<ul class="list">
				<li class="list-item">
					<span class="list-description">Nome</span>
					<span class="list-name">Guilherme</span>
				</li>
				<li class="list-item">
					<span class="list-description">Matricula</span>	
					<span class="list-name">51210875</span>
				</li>
				<li class="list-item">
					<span class="list-description">Telefone</span>	
					<span class="list-name">9865-9878</span>
				</li>
				<li>
					<div class="button">
						<a href="javascript:void(0)" class="glyphicon glyphicon-align-justify"></a>
						<a href="javascript:void(0)" class="glyphicon glyphicon-remove"></a>
						<a href="javascript:void(0)" class="glyphicon glyphicon-trash"></a>						
					</div>
				</li>
			</ul>
			
			<ul class="list">
				<li class="list-item">
					<span class="list-description">Nome</span>
					<span class="list-name">Guilherme</span>
				</li>
				<li class="list-item">
					<span class="list-description">Matricula</span>	
					<span class="list-name">51210875</span>
				</li>
				<li class="list-item">
					<span class="list-description">Telefone</span>	
					<span class="list-name">9865-9878</span>
				</li>
				<li>
					<div class="button">
						<a href="javascript:void(0)" class="glyphicon glyphicon-align-justify"></a>
						<a href="javascript:void(0)" class="glyphicon glyphicon-remove"></a>
						<a href="javascript:void(0)" class="glyphicon glyphicon-trash"></a>						
					</div>
				</li>
			</ul>
			
			<ul class="list">
				<li class="list-item">
					<span class="list-description">Nome</span>
					<span class="list-name">Guilherme</span>
				</li>
				<li class="list-item">
					<span class="list-description">Matricula</span>	
					<span class="list-name">51210875</span>
				</li>
				<li class="list-item">
					<span class="list-description">Peso</span>	
					<span class="list-name">9865-9878</span>
				</li>
				<li>
					<div class="button">
						<a href="javascript:void(0)" class="glyphicon glyphicon-align-justify"></a>
						<a href="javascript:void(0)" class="glyphicon glyphicon-remove"></a>
						<a href="javascript:void(0)" class="glyphicon glyphicon-trash"></a>						
					</div>
				</li>
			</ul>
			<!-- END LIST -->
			
		</div>
	</div>
</div>

	


</body>
</html>