body {
	margin: 0;
	background-color: #2b486f;
	font-family: Arial;
	background: url('../images/fundo_login.jpg') no-repeat 50%;
}

.caixaLogin{
	max-width: 530px;
	height: auto;
	margin: 8% auto 0;
	padding: 20px 90px;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 10px;
	box-shadow: 0 0 90px #375a89;
}

@media (max-width: 560px) {
	
	.caixaLogin{
		padding: 20px 20px;
		background-color: transparent!important;
		box-shadow: none;
	}
	
	.formulario a {
		color: white!important;
	}

	.logo {
		padding: 20px 87px 0px;
	}
}

.caixaLogin img{
	margin: 20px 0 35px;
}
.formulario{
	max-width: 350px;
	height: auto;
	margin: 20px auto;
}
.formulario input[type="text"],
.formulario input[type="password"]{
	max-width: 350px;
	height: 48px;
	margin: 10px 0;
	font-size: 16px;
	font-family: Arial;
	background-color: white;
	border-radius: 3px;
	text-indent: 20px;
}

.icon-login {
	background-image: url('../images/user.png');
	background-repeat: no-repeat;
	background-position: 8px 12px;
}

.icon-password {
	background-image: url('../images/senha.png');
	background-repeat: no-repeat;
	background-position: 8px 12px;
}

.form-control:focus {
	border-color: #FF6F3E;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(248, 65, 0, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(248, 65, 0, .6);
}

.formulario a {
	display: block;
	height: 15px;
	color: #1e496c;
	text-align: center;
	font-size: 15px;
	margin: 20px 0 0 0;
}

.formulario button[type="submit"]{
	outline: none;
	width: 100%;
	height: 45px;
	background-color: #f84100;
	color: #ffffff;
	border: 0 none;
	font-size: 16px;
	border-radius: 5px;
	margin: 10px 0 0;
}

.formulario button[type="submit"]:hover,
.formulario button[type="submit"]:active {
	background-color: #FF7648;
}	