/* ==========================================================================
   Global
   ========================================================================== */

/* Reset rules of container boostrap */
/*@media (max-width: 992px) {
	.container {
		width: 100%;
	}	
}
*/

.container {
	margin-top: 20px;
}
/* ==========================================================================
   Table
   ========================================================================== */

.table {
	background-color: white;
}

.buttons {
	width: 18%;		
}
	
.table .button {
	float: right;
	display: inline-block;
}

.table .buttons .glyphicon {
	padding: 0 5px;
}

@media (max-width: 767px) {
	
	.buttons {
		width: 22%;		
	}
	
	.table .button {
		float: none;
		display: block;
		text-align: center;
	}
}

@media (max-width: 640px) {
	
	.buttons {
		width: 26%;		
	}
}

@media (max-width: 530px) {
	
	.buttons {
		width: 30%;		
	}
}

@media (max-width: 480px) {
	.table {
		display: none;
	}	
}

/* ==========================================================================
   List
   ========================================================================== */

.list {
	display: none;
	padding-left: 0;
	/*margin-top: 20px;*/
	margin-bottom: 20px;
	background-color: white;
	-webkit-box-shadow: 2px 2px 1px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    2px 2px 1px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         2px 2px 1px 0px rgba(50, 50, 50, 0.75);
	/*remove o ponto do UL*/
	list-style-type:none;
}

.list .list-item {
	list-style-type: none;
	padding: 5px 10px;
	border-bottom: 1px solid #E9E9E9;
}

.list .list-item:hover {
	background-color: #E9E9E9;
}

.list .list-item .list-description {
	font-weight: bold;
}

.list .list-item .list-name {
	float: right;
	/*margin-right: 60px;*/
}

@media (max-width: 480px) {
	.list {
		display: block;
	}
}

/* 
   Buttons
   ========================================================================== */

.list .list-item .button {
	display: block;
	background-color: blue;	
}

.list .button {
	text-align: center;
}

.list .button .glyphicon {
	font-size: 20px;
	padding: 10px 12%;
	text-decoration: none;
}

.list .button .glyphicon:hover {
	color: #808080;
}