body{
	margin: 0;
	background-color: #2b486f;
	font-family: Arial;
}

/*Foto no */
.header{
	max-width: 960px;
	height: 180px;
	background: url(../images/header.jpg) 0 0 no-repeat #f35b00;
	margin-bottom: 50px;
}
.menu li>a{
	display: block;
	background-color: #f35b00;
	border-radius: 5px;
	margin-bottom: 15px;
	padding: 15px 0 15px 50px;
	color: #ffffff;
}
.font-24-bold{
	font-size: 24px;
	font-weight: bold;
}
.content{
	min-height: 300px;
	border-radius: 5px;
	padding: 10px 20px 50px;
}
/*Comentei pois não achei legal essas alterações*/
/*.content form input {
	border-radius: 3px;
	border:1px solid #f35b00;
	box-shadow: 0 2px 5px #BEBEBE inset;
}*/
/*.content form input[type="submit"]{
	width: 100px;
	height: 30px;
	background-color: #f35b00;
	color: #ffffff;
	margin: 10px 5px;
	box-shadow: none;
	font-weight: bold;
}*/
/*aqui é onde ele deixa o campo selecionado na cor laranja*/
.form-control:focus {
	border-color: #FF6F3E;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(248, 65, 0, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(248, 65, 0, .6);
}
.content strong {
	display: block;
	width: 100%;
	height: 30px;
	padding: 5px 20px;
	border-radius: 5px;
	background-color: #f35b00;
	color: #ffffff;
}
.active a{
	color: #f35b00;
}
.nav > li > a:hover, .nav > li > a:focus{
	color: #f35b00;
}

/*Isto ainda não esta em uso, mas seria legal colocar 
é um rodape para o sistema, onde poderiamos colocar alguma
informação */
.footer{
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

/*INI - Medidas dos textbox*/
.bigInblock{
	display: inline-block;
	width: 70%;
	margin-left: 2%;
}

.sexoInblock {
	display: inline-block;
	width: 20%;
	margin-left: 2%;
}

/*formatando cadastros
CADASTROS
*/

.cpf {
	display: inline-block;
	width: 31%;
	padding: 5px 20px;
	margin-left: 16.7%;
	margin-right: 8.5%;
}

.email {
	display: inline-block;
	width: 70%;
	padding: 5px 20px;
	margin-left: 15%;
}

.dtNasc {
	display: inline-block;
	width: 31%;
	padding: 5px 20px;
	margin-left: 1%;
}

.telFixo {
	display: inline-block;
	width: 31%;
	padding: 5px 20px;
	margin-left: 4.5%;
}

.telCel {
	display: inline-block;
	width: 31%;
	padding: 5px 20px;
	margin-left: 1%;
}

.newpass{
	display: inline-block;
	width: 25%;
	padding: 5px 20px;
	margin-left: 1%;
}

.pass{
	display: inline-block;
	width: 25%;
	padding: 5px 20px;
	margin-left: 7%;
}

.serie{
	display: inline-block;
	width: 14%;
	padding: 5px 20px;
	margin-left: 17.5%;
	margin-right: 11%;
}

.carga{
	display: inline-block;
	width: 14%;
	padding: 5px 20px;
	margin-left: 2%;
}

.repeticao{
	display: inline-block;
	width: 14%;
	padding: 5px 20px;
	margin-left: 11.3%;
	margin-right: 11%;
}

.tempo{
	display: inline-block;
	width: 14%;
	padding: 5px 20px;
	margin-left: 1%;
}

.atividade {
	display: inline-block;
	width: 50%;
	padding: 5px 20px;
}

.exercicio {
	display: inline-block;
	width: 52%;
	padding: 5px 20px;
	margin-left: 2%;
}

.grupoMusc {
	display: inline-block;
	width: 52%;
	padding: 5px 20px;
	margin-left: 17%;
}

/*MEDIDAS MOBILE */
@media (max-width: 560px) {
	/*INI - SENHA*/
	.pass{
		display: inline-block;
		width: 40%;
		padding: 5px 20px;
		margin-left: 9%;
	}
	
	.newpass{
		display: inline-block;
		width: 39%;
		padding: 5px 20px;
		margin-left: 2%;
	}
	/*FIM - SENHA*/

	/*INI - CADASTROS*/
	.bigInblock {
		display: inline-block;
		width: 70%;
		margin-left: 2.5%;
	}

	.sexoInblock {
		display: inline-block;
		width: 25%;
		margin-left: 2.5%;
	}

	.dtNasc {
		display: inline-block;
		width: 38%;
		padding: 5px 20px;
	}	

	.cpf {
		display: inline-block;
		width: 30%;
		padding: 5px 20px;
		margin-left: 20.5%;
		margin-right: 2%;
	}

	. {
		display: inline-block;
		width: 25%;
	}

	.email {
		display: inline-block;
		width: 70%;
		padding: 5px 20px;
		margin-left: 18.5%;
	}


	.telFixo {
		display: inline-block;
		width: 38%;
		padding: 5px 20px;
		margin-left: 5.5%;
	}

	.telCel {
		display: inline-block;
		width: 38%;
		padding: 5px 20px;
		margin-left: 1%;
	}
	/*FIM - CADASTROS*/

	/*INI - TREINO*/
	.serie {
		display: inline-block;
		width: 18%;
		padding: 5px 20px;
		margin-left: 22%;
		margin-right: 6.5%;
	}

		.carga {
		display: inline-block;
		width: 18%;
		padding: 5px 20px;
		margin-left: 2%;
	}

		.repeticao {
		display: inline-block;
		width: 18%;
		padding: 5px 20px;
		margin-left: 14%;
		margin-right: 5.5%;
	}

		.tempo {
		display: inline-block;
		width: 18%;
		padding: 5px 20px;
		margin-left: 2%;
	}

	.atividade {
		display: inline-block;
		width: 56%;
		padding: 5px 20px;
	}
	.exercicio {
		display: inline-block;
		width: 52%;
		padding: 5px 20px;
		margin-left: 2%;
	}

	.grupoMusc {
		display: inline-block;
		width: 52%;
		padding: 5px 20px;
		margin-left: 20.5%;
	}
	/*INI - TREINO*/
}

/*FIM - Medidas dos textbox*/


